/*.mod_orders div.left{border-right:1px solid #fff;width:600px;float:left;}
.mod_orders div.right{width:340px;float:right}
.mod_orders p{margin:2px 0}
.mod_orders p strong{font-size:16px;margin-left:10px;}
.mod_orders strong.title_hint{font-size:15px;padding:15px 0 5px 0;border-bottom:1px dashed #ccc;display:block;margin-bottom:15px;}
.mod_orders .user_form .cata{background:#24B2E0;color:#fff;border-radius:5px 5px 0 0;padding:6px 10px;font-weight:normal;font-size:18px;}
*/