.block_emails_promote{}
.block_emails_promote .btn_submit{border-color:#af8515;width:auto;padding:1px 9px;
background:url('../images/bg/bgOpaWhite.png') repeat-x 0 0px #DCA921;color:#fff;cursor:pointer;border:1px solid #941C1C;}